.BG {
        width: 99vw;
        height: 90vh;
        background: url("/static/bg_basket.png");
        background-repeat: no-repeat;
        background-size: cover;
@font-face {
            font-family: caviar-dreams; /* Гарнитура шрифта */
            src: url(/static/caviar-dreams.ttf); /* Путь к файлу со шрифтом */
        }

.p_title {
            font-family: caviar-dreams;
            font-size: 30px;
            text-decoration: none;
        }