.pc-link {
            position: absolute;
            left: 300px;
            top: 200px;
        }
.laptop-link {
            position: absolute;
            left: 805px;
            top: 200px;
        }
.phone-and_tablet-link {
            position: absolute;
            left: 1260px;
            top: 200px;
        }
.computer_peripherals-link {
            position: absolute;
            left: 702px;
            top: 450px;
        }
.pc_word-link {
            position: absolute;
            left: 420px;
            top: 400px;
        }
.laptop_word-link {
            position: absolute;
            left: 895px;
            top: 400px;
        }
.phone_and_tablet_word-link {
            position: absolute;
            left: 1300px;
            top: 400px;
        }
.computer_peripherals_word-link {
            position: absolute;
            left: 860px;
            top: 735px;
        }