{% extends "base.html" %}

{% block content %}
    <div class="BG">
        {% if basket %}
            {% for order in basket %}
                <h3 class="p_title"> <a href="/product_{{ p_type }}/{{ order.foreign_key }}" class="p_title">{{ order.product_title }}
                </a> {{ order.product_price }} $ ({{ order.quantity }} шт.) <img src="/static/{{ order.product_image_name }}" width="48" height="40"> <a class="btn" href="/delete/{{ order.foreign_key }}">Delete</a> </h3>
            {% endfor %}
            <div class="for_total_sum">
                <h2 class="p_title">{{ total_sum }} $</h2>
            </div>
        {% else %}
            <h3 class="p_title"> Кошик пустий </h3>
        {% endif %}
    </div>
{% endblock %}