{% extends "base.html" %}

{% block content %}
     <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            margin: 0;
        }
    </style>

    <div class="container">
        <div class="products-container">
            <div class="product">
                <a href="/pcs">
                    <img src="/static/262901_1.webp" alt="Комп'ютер">
                    <h3>Компьютер</h3>
                </a>
            </div>
            <div class="product">
                <a href="/laptops">
                    <img src="/static/msi1.jpg" alt="Ноутбук">
                    <h3>Ноутбук</h3>
                </a>
            </div>
            <div class="product">
                <a href="/phones">
                    <img src="/static/gsmarena_001(11).jpg" alt="Телефон">
                    <h3>Телефон</h3>
                </a>
            </div>
            <div class="product">
                <a href="/tablets">
                    <img src="/static/1628644_middle.jpg" alt="Планшет">
                    <h3>Планшет</h3>
                </a>
            </div>
            <div class="product">
                <a href="/keyboards">
                    <img src="/static/U0744573_5big.jpg" alt="Клавіатура">
                    <h3>Клавиатура</h3>
                </a>
            </div>
            <div class="product">
                <a href="/mice">
                    <img src="/static/Logitech-G102-Lightsync-42-Black-01-600x600.webp" alt="Миша">
                    <h3>Мышь</h3>
                </a>
            </div>
        </div>

{% endblock %}
