{% extends "base.html" %}

{% block content %}
    <style>
        a {
            text-decoration: none;
        }
    </style>

    <div class="filter">
        <h3>Колір</h3>
        <a href="/keyboards/color/red">Червоний</a><br>
        <a href="/keyboards/color/grey">Сірий</a><br>
        <a href="/keyboards/color/black">Чорний</a><br>
        <a href="/keyboards/color/white">Білий</a>
        <h3>Бренди</h3>
        <a href="/keyboards/brand/Lenovo">Lenovo</a><br>
        <a href="/keyboards/brand/HP">HP</a><br>
        <a href="/keyboards/brand/ASUS">ASUS</a><br>
        <a href="/keyboards/brand/Acer">Acer</a><br>
        <a href="/keyboards/brand/Apple">Apple</a><br>
        <a href="/keyboards/brand/MSI">MSI</a>
        <a href="/keyboards/brand/Razer">Razer</a>
        <a href="/keyboards/brand/Dell">Dell</a>
    </div>

    <div class="product-container">
        {% for keyboard in keyboards %}
                <div class="product">
                    <a href="/product_{{ keyboard.product_type }}/{{ keyboard.product_id }}">
                        <img src="/static/{{ keyboard.product_image_name }}" alt="{{ keyboard.product_image_name }}">
                        <h3 class="p_title">{{ keyboard.product_title }}</h3>
                        <p class="description">{{ keyboard.product_description }}</p>
                        <p class="price">{{ keyboard.product_price }} $</p>
                    </a>
                </div>
        {% endfor %}
    </div>

{% endblock %}