{% extends "base.html" %}

{% block content %}
    <style>
        a {
            text-decoration: none;
        }
    </style>

    <div class="filter">
        <h3>Колір</h3>
        <a href="/laptops/color/red">Червоний</a><br>
        <a href="/laptops/color/grey">Сірий</a><br>
        <a href="/laptops/color/black">Чорний</a><br>
        <a href="/laptops/color/white">Білий</a>
        <h3>Бренди</h3>
        <a href="/laptops/brand/Lenovo">Lenovo</a><br>
        <a href="/laptops/brand/HP">HP</a><br>
        <a href="/laptops/brand/ASUS">ASUS</a><br>
        <a href="/laptops/brand/Acer">Acer</a><br>
        <a href="/laptops/brand/Apple">Apple</a><br>
        <a href="/laptops/brand/MSI">MSI</a>
        <h3>Процесор</h3>
        {% for laptop in laptops %}
            <a href="/laptops/processor/{{ laptop.processor_specifications }}">{{ laptop.processor_specifications }}</a>
        {% endfor %}
        <h3>Графічна карта</h3>
        {% for laptop in laptops %}
            <a href="/laptops/g_c/{{ laptop.graphics_card_specifications }}">{{ laptop.graphics_card_specifications }}</a>
        {% endfor %}
        <h3>ОЗП</h3>
        {% for laptop in laptops %}
            <a href="/laptops/ram/{{ laptop.ram_specifications }}">{{ laptop.ram_specifications }}</a>
        {% endfor %}
        <h3>Ємність пам'яті</h3>
        {% for laptop in laptops %}
            <a href="/laptops/memory/{{ laptop.memory_capacity_specifications }}">{{ laptop.memory_capacity_specifications }}</a>
        {% endfor %}
        <h3>Дисплей</h3>
        {% for laptop in laptops %}
            <a href="/laptops/display/{{ laptop.display_characteristics }}">{{ laptop.display_characteristics }}</a>
        {% endfor %}
        <h3>Країна виробник</h3>
        {% for laptop in laptops %}
            <a href="/laptops/producing_country/{{ laptop.producing_country }}">{{ laptop.producing_country }}</a>
        {% endfor %}
    </div>

    <div class="product-container">
        {% for laptop in laptops %}
                <div class="product">
                    <a href="/product_{{ laptop.product_type }}/{{ laptop.product_id }}">
                        <img src="/static/{{ laptop.product_image_name }}" alt="{{ laptop.product_image_name }}">
                        <h3 class="p_title">{{ laptop.product_title }}</h3>
                        <p class="description">{{ laptop.product_description }}</p>
                        <p class="price">{{ laptop.product_price }} $</p>
                    </a>
                </div>
        {% endfor %}
    </div>

{% endblock %}
