{% extends "base.html" %}

{% block content %}
    <style>
        a {
            text-decoration: none;
        }
    </style>

    <div class="filter">
        <h3>Колір корпусу</h3>
        <a href="/pcs/color/red">Червоний</a><br>
        <a href="/pcs/color/grey">Сірий</a><br>
        <a href="/pcs/color/black">Чорний</a><br>
        <a href="/pcs/color/white">Білий</a>
    </div>

    <div class="product-container">
        {% for pc in pcs %}
                <div class="product">
                    <a href="/product_{{ pc.product_type }}/{{ pc.product_id }}">
                        <img src="/static/{{ pc.product_image_name }}" alt="{{ pc.product_image_name }}">
                        <h3 class="p_title">{{ pc.product_title }}</h3>
                        <p class="description">{{ pc.product_description }}</p>
                        <p class="price">{{ pc.product_price }} $</p>
                    </a>
                </div>
        {% endfor %}
    </div>

{% endblock %}