{% extends 'base.html' %}

{% block content %}

    <style>
        .btn-container {
            text-align: center;
        }
    </style>
    <div class="btn-container">
        <img src="/static/{{ product.product_image_name }}"><br>
        <p class="p_title">{{ product.product_title }}</p>
        {% if p_price == 0 %}
            <p class="p_title"> {{ p_price }} $ </p>
        {% else %}
            <p class="p_title"> {{ p_price }} $ <a class="btn" href="/buy/{{ product.product_id }}/{{ quantity }}/Mouse"> Купити </a> </p>
        {% endif %}
        <p class="p_title"> {{ quantity }} шт. <a class="btn" href="/add_quantity/Mouse"> + </a> <a class="btn" href="/remove_quantity"> - </a></p>

    </div>
    <hr>

    <div class="btn-container">
        <p class="p_specs"> Колір: {{ mouse_specs.color }}</p>
        <p class="p_specs"> Бренд: {{ mouse_specs.brand }}</p>
        <p class="p_specs"> Розмір: {{ mouse_specs.size }} </p>
        <p class="p_specs"> Вага: {{ mouse_specs.weight }} </p>
        <p class="p_specs"> Приєднання: {{ mouse_specs.connection }} </p>
        <p class="p_specs"> Тип сенсора: {{ mouse_specs.sensor_type }} </p>
        <p class="p_specs"> Додаткові функції: {{ mouse_specs.additional_functions }} </p>
        <p class="p_specs"> Розміри: {{ mouse_specs.dimensions }} </p>
        <p class="p_specs"> Довжина кабелю: {{ mouse_specs.cable_length }} </p>
        <p class="p_specs"> Характеристики відеокарти: {{ mouse_specs.producing_country }} </p>
    </div>

{% endblock %}