{% extends 'base.html' %}

{% block content %}

    <style>
        .btn-container {
            text-align: center;
        }
    </style>
    <div class="btn-container">
        <img src="/static/{{ product.product_image_name }}"><br>
        <p class="p_title">{{ product.product_title }}</p>
        <p class="p_title"> {{ product.product_price }} $  <a class="btn" href="/buy/{{ product.product_title }}">Купити</a> </p>
    </div>
    <hr>

    <div class="btn-container">
        <p class="p_specs"> Характеристики процесора: {{ product_specs.processor_specifications }} </p>
        <p class="p_specs"> Характеристики об'єма пам'яті: {{ product_specs.memory_capacity_specifications }} </p>
        <p class="p_specs"> Характеристики дисплея: {{ product_specs.display_characteristics }} </p>
        <p class="p_specs"> Характеристики оперативної пам'яті: {{ product_specs.ram_specifications }} </p>
        <p class="p_specs"> Кількість слотів оперативної пам'яті: {{ product_specs.number_of_ram_slots }} </p>
        <p class="p_specs"> Характеристики відеокарти: {{ product_specs.graphics_card_specifications }} </p>
    </div>

{% endblock %}