{% extends 'base.html' %}

{% block content %}

    <style>
        .btn-container {
            text-align: center;
        }
    </style>
    <div class="btn-container">
        <img src="/static/{{ product.product_image_name }}"><br>
        <p class="p_title">{{ product.product_title }}</p>
        {% if p_price == 0 %}
            <p class="p_title"> {{ p_price }} $ </p>
        {% else %}
            <p class="p_title"> {{ p_price }} $ <a class="btn" href="/buy/{{ product.product_id }}/{{ quantity }}"> Купити </a> </p>
        {% endif %}
        <p class="p_title"> {{ quantity }} шт. <a class="btn" href="/add_quantity/keyboard"> + </a> <a class="btn" href="/remove_quantity"> - </a></p>

    </div>
    <hr>

    <div class="btn-container">
        <p class="p_specs"> Колір: {{ laptop_specs.color }}</p>
        <p class="p_specs"> Бренд: {{ laptop_specs.brand }}</p>
        <p class="p_specs"> Кількість клавіш: {{ keyboard_specs.number_of_keyboard_buttons }} </p>
        <p class="p_specs"> Під'єднання: {{ keyboard_specs.connection }} </p>
        <p class="p_specs"> Колір підсвітки: {{ keyboard_specs.backlight_color }} </p>
        <p class="p_specs"> Розкладка: {{ keyboard_specs.keyboard_layout }} </p>
        <p class="p_specs"> Інтерфейс: {{ keyboard_specs.interface }} </p>
        <p class="p_specs"> Вага: {{ keyboard_specs.weight }} </p>
        <p class="p_specs"> Призначення: {{ keyboard_specs.appointment }} </p>
        <p class="p_specs"> Довжина кабелю: {{ keyboard_specs.cable_length }} </p>
        <p class="p_specs"> Розміри: {{ keyboard_specs.dimensions }} </p>
    </div>

{% endblock %}